*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}
h1{font-size: 3.3em;}
h2{font-size: 2.5em;}
h3{font-size: 1.8em;}
p{font-size: 1.25em;}
ul{list-style-type: none;}
li{font-size: 1.25em;}

button{
    font-size: 2em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 5);
    color: white;
    background-color:darkslategray
}

button:hover{
    background-color:rgb(28, 49, 49) ;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{color:rgb(24, 54, 90)}

header{
    background-color:rgba(255, 228, 195, 0.944)
}
header .logo{
    margin: 0;
    padding: 20px 25px;
    font-weight: bold;
    color:rgb(30, 188, 59);
    font-size: 1.45em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(24, 54, 90);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(fotos/Pantalla.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    font-size: 4em;
}

#son .container{
    text-align: center;
    padding: 200px 12px;
}
#tipos{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#tipos p{
    display: none;
}
#tipos .container{
    padding: 100px 12px;
}
#tipos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#tipos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}


.carta :first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Fotos/Troyano.jpg")
}

.carta :nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("fotos/Gusano.jpg")
}

.carta :nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("fotos/Boot1.jpg")
}

#Pasos .container{
    text-align: center;
    padding: 200px 12px;
}

#Pasos li{
    margin: 16px 0px;
    font-weight: bold;
}

#mas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
}

#mas h2{
    font-size: 9vw
}

#mas button{
    font-size:5vw ;
}

footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

@media(min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    
    #son .container{
        display: flex;
        justify-content:space-evenly;
    }
    
    #son h2{
        padding-right: 120px;
    }
    
    #son .texto{
        width: 50%;
        max-width: 500px;
        text-align: initial;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

#son .imagenfacil{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("Fotos/Virus.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
}
#tipos .programas{
    display: flex;
    justify-content: center;
}

#tipos p{
    display: block;
}

#tipos h3{
    margin-top: 0;
}

#tipos .carta{
    display: block;
}

#pasos h2{
    text-align: left;
}

#pasos .container{
    text-align: left;
}
#pasos ul{
    margin-left: 100%;
}

#mas h2{
    font-size: 4em;
}

#mas button{
    font-size: 2.8em;
}
footer .container{
    justify-content: flex-end;
}

}